*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loader {
    width: 100px;
    height: 100px;
    background:  conic-gradient(from 0deg,
    #00f0ff,
    #ff00f7,
    #00ff88,
    #00f0ff);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: girar 2s infinite linear;

    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    min-height: 100vh;
}

.center-loader{ 
    background-color: black;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

@keyframes girar {
    0%{

    }
    50%{
        
    }
    0%{
        transform: rotateY(360deg) rotateZ(360deg);
    }
}